@charset "UTF-8";

html, body {
  height: 100vh
}

body {
  margin:0;
  padding:0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.body-container {
  flex: 1 1 auto;
  overflow: hidden;
  display:flex;
}
.window-body {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  min-height: 0;
}
.workspace.scroller {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  overflow: auto;
  padding: 15px;
  height: 100%
}

.window-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d2bd;
  background: linear-gradient(to right, #f1f3f1 , #ede8ce);
  font-family: Tahoma;
  font-size: 13px;
}

.window-toolbar .toolbar-options {
  height: 100%;
  flex: 1 1 0%;
  display:flex;
}

.wt-dropdown {
  height: 100%;
  position: relative;
  padding: 2px 5px
}
.wt-label {
  height:100%;
  padding:2px
}
.wt-options > .wt-dropdown:hover, .wt-dropdown ul li:hover {
	 background-color: #316ac5;
   color:#fff
}

.wt-dropdown ul li:hover .wt-checked::before {
  background: #fff
}
.wt-dropdown hr {
  margin:0;
  height:0;
  background: none;
  border-top: 1px solid #f4f4f2;
  border-bottom: 1px solid #b9b6a9;
  border-left:0;
  border-right: 0
}

.wt-dropdown:hover > ul {
	display: block
}
.wt-dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left:0;
  background: #fff;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #b3afa0;
  border-right-color: #b3afa0;
  border-top-color: #c6c2b2;
  border-left-color: #c6c2b2;
  box-shadow: 1px 1px 2px 0 #a5a397;
}
.wt-dropdown ul > li {
  display: flex;
  padding: 1px 20px;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}
.wt-dropdown ul li .wt-label {
  margin-right: 10px
}
.wt-dropdown ul li .wt-key {
  text-align:right
}
.wt-radio, .wt-checked {
  position:relative
}
.wt-radio::before {
  content:""; /*25CF*/
  display:block;
  position:absolute;
  width: 7px;
  height: 7px;
  background:#000;
  border-radius: 100%;
  top: 6px;
  left: -14px
}
.wt-checked::before {
  content: "";
  display:block;
  position:absolute;
  width: 8px;
  height: 8px;
  top: 7px;
  left: -14px;
  background-image: url(' data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAACXBIWXMAAAsSAAALEgHS3X78AAAAkklEQVQImVWOoQrFIBhGv1vFLgPR17BaV/cS5j2JD7HsCywvWgxWkcFgsCpj6V/Y5XJ34he+cz5EhDfHcXjvQW/2fR+GQSmFWus4js+6bVvf9wCUUkgpcc6dc+u6WmsBCCHmeUZKCQBjzBgDoOu6ZVmICK21aZoerZQyxvjcgojO8wwhaK1zzr+Kb9V1XaWU/7wbvKRzjsIBl+4AAAAASUVORK5CYII=')
}
.grayed {
  color:#c7b4be
}
.drop-down_label-active {
  background-color: rgb(22, 96, 232);
  color: rgb(255, 255, 255);
}

.drop-down_label {
  padding: 0px 7px;
}

.drop-down_label:hover {
  background-color: rgb(22, 96, 232);
  color: rgb(255, 255, 255);
}

.windows-logo {
  height: 100%;
  border-left: 1px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bvzUWv {
    display: inline-flex;
    height: 20px;
    line-height: 20px;
    position: relative;
}

.function_bar {
    height: 36px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-size: 11px;
    font-family: Tahoma;
    padding: 1px 3px 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%) repeat scroll 0% 0%;
    user-select: none
}
.function_bar_button-disable {
    filter: grayscale(1);
    opacity: 0.7;
    display: flex;
    height: 100%;
    -moz-box-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}
.function_bar_separate {
    height: 90%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 2px;
}
.function_bar_arrow::before {
    content: "";
    display: block;
    border-width: 3px 3px 0px;
    border-color: rgb(0, 0, 0) transparent;
    border-style: solid;
}
 .function_bar_text {
    margin-right: 4px;
}
 .function_bar_button {
    display: flex;
    height: 100%;
    -moz-box-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
}
.function_bar_button:hover { border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 1px inset; }
.function_bar_button:hover:active { border: 1px solid rgb(185, 185, 185); background-color: rgb(222, 222, 222); box-shadow: rgba(255, 255, 255, 0.7) 0px -1px 1px inset; color: rgba(255, 255, 255, 0.7); }
.function_bar_button:hover:active > * { transform: translate(1px, 1px); }
.function_bar_button-disable { filter: grayscale(1); opacity: 0.7; display: flex; height: 100%; -moz-box-align: center; align-items: center; border: 1px solid rgba(0, 0, 0, 0); }
.function_bar_icon-normalize {
    height: 22px;
    width: 22px;
    margin: 0px 4px 0px 1px;
}
.function_bar_icon-margin12 {
    height: 22px;
    width: 22px;
    margin: 0px 1px 0px 2px;
}

 .address-bar {
  flex-shrink: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  height: 24px;
  font-size: 11px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 2px;
  box-shadow: rgb(176, 176, 176) 0px -2px 3px -1px inset;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%) repeat scroll 0% 0%;
  user-select: none
}

 .address-bar_title {
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

 .address-bar_content {
  border: 1px solid rgba(122, 122, 255, 0.6);
  height: 100%;
  display: flex;
  flex: 1 1 0%;
  -moz-box-align: center;
  align-items: center;
  background-color: white;
  position: relative;
}

 .address-bar_content_img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

 .address-bar_content_img:last-child {
  width: 17px;
  height: 17px;
  right: 2px;
  bottom: 2px;
  position: absolute;
}

 .address-bar_content_img:last-child:hover {
  filter: brightness(1.1);
}

 .address-bar_content_text {
  border: transparent !important;
  height: 21px !important;
  width: 100%;
  left: 16px;
  right: 17px;
}

 .address-bar_go {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 18px 0px 5px;
  height: 100%;
  position: relative;
     border: 1px solid transparent;
}
.address-bar_go:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px -1px inset;

}

 .address-bar_go_img {
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 3px;
  margin-bottom: 2px
}

 .address-bar_links {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 18px 0px 5px;
  height: 100%;
  position: relative;
}

 .address-bar_links_img {
  position: absolute;
  right: 2px;
  top: 3px;
  height: 5px;
  width: 8px;
}

 .address-bar_links_text {
  color: rgba(0, 0, 0, 0.5);
}

 .address-bar_separate {
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(255, 255, 255, 0.7) 1px 0px;
}

 .content {
  flex: 1 1 auto;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 0px 1px 1px;
  border-image: none 100% / 1 / 0 stretch;
  background-color: rgb(241, 241, 241);
  overflow: auto;
  font-size: 11px;
  position: relative;
}

.taskbar {
  margin: 0 3px;
  box-shadow: inset 0 1px 2px grey;
  padding: 2px 1px;
}

.taskbar-field {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  padding: 1px 2px;
  border-right: 1px solid rgba(208, 206, 191, .75);
  border-left: 1px solid hsla(0, 0%, 100%, .75)
}

.taskbar-field:first-of-type {
  border-left: none
}

.taskbar-field:last-of-type {
  border-right: none
}

/** SCROLLBARS **/

/* GENERAL SCROLLBAR */
      .scrollbar--vertical {
        position: absolute;
        top: 0; right: 0; bottom: 1px;
        width: 21px;
        border-left: 1px solid #eeede5;
        border-right: 1px solid #eeede4;
        background: linear-gradient(to right, #f3f1ec, #fdfdfa);
      }
      .scrollbar--both .scrollbar--vertical {
        bottom: 21px;
      }
      .scrollbar--both::after {
         content: '';
         position: absolute;
         display: block;
         bottom: 1px;
         right: 1px;
         width: 19px;
         height: 19px;
         background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAA9QTFRFAAAAuLSjuLShuLWh////C9pYSAAAAAV0Uk5TAP////8c0CZSAAAAK0lEQVR4nGNgAAIhBjAQdgBTLBCKASIjBJEBy7E4IOSEIHIgGaAcSIbFAQBn9wP3rzqShwAAAABJRU5ErkJggg==');
         background-color: #fdfdfa;
         background-position: bottom right
      }
      .scrollbar--horizontal {
        position: absolute;
        bottom: 0;
        left: 0; right:0;
        height: 21px;
        border-top: 1px solid #eeede5;
        border-bottom: 1px solid #eeede4;
        background: linear-gradient(to bottom, #f3f1ec, #fdfdfa);
      }
      .scrollbar--both .scrollbar--horizontal {
      right: 21px;
      }

  /* LIFT */
      .scrollbar__lift {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: 1px solid #fff;
      border-radius: 3px;
      background-image: linear-gradient(to right, #baccf6 1px, #c0d1f7 2px, #bfd4fc 10px, #b9cffc, #bbccf4 100%);
      box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7, 0 1px 0 0 #d1e0fd inset;
      }
        .scrollbar__lift::before {
        content: '';
        width: 8px; height: 7px;
        background-image: linear-gradient(to bottom, #eef4fe, #8cb0f8);
        background-size: 7px 2px;
        background-repeat: repeat-y;
        box-shadow: 1px 1px 0px #9ebcf9;
        }

      .scrollbar--vertical .scrollbar__lift {
      right: 1px;
      width: 18px;
      margin-top: 19px;
      }

      .scrollbar--horizontal .scrollbar__lift {
      bottom: 1px;
      height: 18px;
      margin-left: 19px;
      }
        .scrollbar--horizontal .scrollbar__lift::before {
        transform: rotate(90deg) scaleY(-1);
        }

     .scrollbar__lift:hover {
     background-image: linear-gradient(to right, #d6e7ff, #cae0ff);
     box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7, 0 0 0 1px #a9cbff inset;
     }
       .scrollbar__lift:hover::before {
       background-image: linear-gradient(to bottom, #fcfdff, #9cc5ff);
       box-shadow: 1px 1px 0 #9cc5ff;
       }

     .scrollbar__lift:active {
     background-image: linear-gradient(to right, #9fb4ec 1px, #a7bef5 2px, #a1bcfa 8px, #9ab9fa 9px, #92b4f9, #96b0ec);
     box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7, 1px 0 0 0 #7f95ca inset, 0 1px 2px 0 #7f95ca inset;
     }
       .scrollbar__lift:active::before {
       background-image: linear-gradient(to bottom, #cfddfd, #839ed8);
       box-shadow: 1px 1px 0 #839ed8;
       }

/* BUTTONS */
     .scrollbar__button {
     position: absolute;
     width: 18px; height: 18px;
     right: 1px;
     background-image: radial-gradient(circle at 0 0, #dce6fc, #b7c9f2);
     background-origin: top left;
     border: 1px solid #fff;
     border-radius: 3px;
     box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7;
     }
       .scrollbar__button:hover {
       background-image: radial-gradient(circle at 0 0, #fdffff, #d2eafe, #b9dafb);
       box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7, 0 0 0 1px #91abe1 inset;
       }
       .scrollbar__button:active {
       background-image: linear-gradient(to bottom right, #6e8ef1, #7da5f1, #9aaaee, #a3b5f3, #d2deeb);
       box-shadow: 1px 1px 0 0 #84a5d5, 2px 2px 0 0 #eef2f7, 1px 1px 0 1px #828dd9 inset, -1px -1px 0 0px #b2d7f5 inset;
       }
       .scrollbar__button::before {
       content: '';
       display: block;
       position: absolute;
       width: 6px; height: 6px;
       left: 6px;
       border-right: 2px solid #4d6185;
       border-bottom: 2px solid #4d6185;
       }

      .scrollbar__button--up {
      top: 0;
      }
        .scrollbar__button--up::before {
        transform: rotate(-135deg);
        top: 6px;
        }
      .scrollbar--horizontal .scrollbar__button--up {
      left: 0;
      }
        .scrollbar--horizontal .scrollbar__button--up::before {
        transform: rotate(135deg);
        top: 6px;
        left: 7px
        }

      .scrollbar__button--down {
      bottom: 0;
      }
        .scrollbar__button--down::before {
        transform: rotate(45deg);
        bottom: 6px;
        }
        .scrollbar--horizontal .scrollbar__button--down::before {
        transform: rotate(-45deg);
        top: 6px;
        left: 6px
        }
