
button {
  color: #000;
  min-width: unset;
  font-family: Tahoma;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 4px;
  margin-bottom: 6px;
  font-size: .8rem;
  padding: unset;
}

button:not(:disabled):hover {
  box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

button:not(:disabled)active {
  box-shadow: none;
  background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1);
}

button:not(:disabled):focus {
  box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
  outline: 1px dotted #000;
  outline-offset: -4px;

}

/*

.window-body  button {
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
  box-shadow: none;
  border-radius: 3px;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  color: #222;
}

.window-body button:not(:disabled):hover {
    box-shadow: inset -1px 1px #fff0cf,inset 1px 2px #fdd889,inset -2px 2px #fbc761,inset 2px -2px #e5a01a;
}

.window-body button:not(:disabled).active, button:not(:disabled):active {
    box-shadow: none;
    background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1 100%);
}
.window-body button:focus {
    box-shadow: inset -1px 1px #cee7ff,
                inset 1px 2px #98b8ea,
                inset -2px 2px #bcd4f6,
                inset 1px -1px #89ade4,
                inset 2px -2px #89ade4;
}
.window-body button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
}
*/

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 4px; /* Specific width is required for Firefox. */
  background: linear-gradient(to right, #989794, #ecebe4, #f3f2e3, #fefefe);
  border-radius: 5px;
  writing-mode: bt-lr; /* IE */
  height: 68px;
  margin-top: 11px
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 9px;
  width: 18px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 0 0 0 #46ca44 inset,
              -2px 0 0 0 #46ca44 inset;
  border-width: 1px;
  border-style: solid;
  border-top-color: #b5c4cd;
  border-right-color: #778892;
  border-bottom-color: #778892;
  border-left-color: #b5c4cd;
  width: 22px; height: 9px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f7f7f4 7px, #dcdcd9, #c3c3c0);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


/**** CHECKBOX ****/
input[type="checkbox"].xp {
  opacity:0;
  pointer-events: none;
  position:absolute;
}
input[type="checkbox"].xp + label {
  display: block;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center
}
input[type="checkbox"].xp + label::before {
   content:'';
	 box-shadow: none;
	 border: 1px solid #1d5281;
	 background: linear-gradient(135deg, #DCDCD7 0%, #fff 100%);
   display: inline-block;
   width: 14px; height: 14px;
   margin-right: 4px
}
 input[type="checkbox"].xp:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 7px;
  border: solid #22A122;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 3px;
  left: 5px;
}
 input[type="checkbox"].xp:not([disabled]):not(:active) + label:hover::before {
	 box-shadow: inset -2px -2px #f8b636, inset 2px 2px #fedf9c;
}
 input[type="checkbox"].xp:active + label::before {
	 background: linear-gradient(135deg, #B0B0A7 0%, #E3E1D2 100%);
}
 input[type="checkbox"].xp[disabled] + label::before {
	 background: white;
	 border: 1px solid #cac8bb;
}
 input[type="checkbox"].xp[disabled]:checked + label::after {
  border: solid #cac8bb;
  border-width: 0 2px 2px 0;
}
