@charset "UTF-8";
.desktop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  height: calc(100% - 30px);
}

.icon-slot {
  width: 100px;
  height: 80px;
  margin-top: 5px
}
.desktop-icon {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: .9rem;
  z-index: 1;
}
.desktop-icon.cut {
  opacity:.6
}
.desktop-icon.shortcut > div {
  position: relative;
}
.desktop-icon.shortcut > .icon-img::after {
  content: "";
  position: absolute;
  width: 11px; height: 11px;
  border-width: 1px;
  border-style: solid;
  border-right-color: #000;
  border-bottom-color: #000;
  border-top-color: #808080;
  border-left-color: #808080;
  left: calc(50% + 5px); bottom: 0;
  background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHAQMAAAD6aRWtAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAFklEQVR4nGOoYLBgqGB4wXCAoYHBAQAYngOR+2H1KQAAAABJRU5ErkJggg==') center no-repeat;

}
.desktop-icon:focus, .desktop-icon:active {
  outline: none;
}

.desktop-icon.focusedicon img {
   filter: sepia(100%) brightness(35%) hue-rotate(166deg) saturate(600%) contrast(66%);
}
.desktop-icon .icon-text {
  padding: 0 2px;
  border: 1px solid transparent;
  display: inline-block;
  width: 100px;
  max-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-word;
}
.desktop-icon.renaming > .icon-text {
  background-color: #fff !important;
  outline: 1px solid #000 !important;
  color : #000 !important;
  max-height:none;
}
.desktop-icon .icon-text::selection, .desktop-icon .icon-text::-moz-selection {
  color: #fff;
  background: #09275f;
}

.desktop-icon.focusedicon > .icon-text {
  outline: 1px dotted #efefef;
  background: rgba(52,92,165,0.7);
  text-shadow: none
}
#cursor-selector{
  border: 1px dotted #f00;
  position: absolute;
  left:-1px;
  top:-1px;
  display: none;
  /*mix-blend-mode: difference;*/
}

