@charset "UTF-8";
.window {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-font-smoothing: antialiased;
  background: #ece9d8;
}

.window.maximize {
  height: calc(100vh - 30px) !important;
  width:100vw !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}
.window.hide {
  display: none !important;
}

.title-bar {
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%) repeat scroll 0% 0%;
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 14px;
  text-shadow: 1px 1px #0f1089;
  height: 30px;
}
.title-bar::before, .title-bar::after {
  /*content: "";*/
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 15px;
}

.title-bar::before {
  left: 0;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(22, 56, 230) 0%, transparent 100%) repeat scroll 0% 0%;
  border-top-left-radius: 7px;
}
.title-bar::after {
  right: 0;
  background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(22, 56, 230) 0%, transparent 100%) repeat scroll 0% 0%;
  border-top-right-radius: 7px;
}
.window.inactive {
    box-shadow: inset -1px -1px rgb(101, 130, 245), inset 1px 1px rgb(101, 130, 245), inset -2px -2px rgb(101, 130, 245), inset 2px 2px rgb(101, 130, 245), inset -3px -3px rgb(101, 130, 245), inset 3px 3px rgb(101, 130, 245);
}
.window.inactive .title-bar {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%) repeat scroll 0% 0%;
  border: 1px solid transparent;
  border-bottom: 0;
}
.window.inactive .title-bar button {
  opacity:.6;
}
.window.inactive button[aria-label=Minimize] {
  box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
  background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
}
.window.inactive iframe {
  pointer-events: none;
}
/* inactive border color rgb(101, 130, 245) */
/* inactive CLOSE ICON opacity: 0.6;*/

.title-bar-text {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-family: "Trebuchet MS"; font-weight: bold; color: #fff !important;
  padding-left: 3px;
}
.title-bar-text img {
  margin-right: 4px;
}
.title-bar-controls button {
  display: inline-block;
  width: 21px;
  height: 21px;
  transform: translateY(-2px);
}
.title-bar-controls button:hover {
  filter:brightness(120%)
}
.title-bar-controls button[aria-label=Minimize],
.title-bar-controls button[aria-label=Maximize],
.title-bar-controls button[aria-label=Restore] {
  display: inline-block;
  position: relative;
  background:  #2467f5;
  border-radius: 3px;
  border: 1px solid #fefefe;
  /*outline: 1px solid #003c74;*/
  box-shadow:
  -1px -1px 0 0 #0641c0 inset,
  1px 1px 0 0 #5886f6 inset,
  -3px -3px 2px 0 #1e5ee2 inset,
  2px 0px 5px 0 rgba(255,255,255,.4) inset,
  0px 2px 5px 0 rgba(255,255,255,.4) inset,
  0px -5px 5px 0 rgba(255,255,255,.2) inset
}
.title-bar-controls button[aria-label=Minimize]::before {
  content:"";
  width: 8px;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom : 4px;
  left: 4px;
}

.title-bar-controls button[aria-label=Maximize]::before {
  content:"";
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-top: 3px solid #fff;
  position: absolute;
  bottom : 4px;
  left: 4px;
}
.window.unresizable button[aria-label=Maximize] {
  opacity: .6;
  pointer-events: none;
}
.window.unresizable button[aria-label=Maximize]:hover {
  filter: none
}
.title-bar-controls button[aria-label=Restore]::after {
  content:"";
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-top: 2px solid #fff;
  background-color: #2467f5;
  outline: 1px solid #2467f5;
  position: absolute;
  bottom : 4px;
  left: 4px;
}
.title-bar-controls button[aria-label=Restore]::before {
  content:"";
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top : 4px;
  right: 4px;
}
.title-bar-controls button[aria-label=Help] {
 /***/
}


.title-bar-controls button[aria-label=Close] {
  display: inline-block;
  position: relative;
  background: linear-gradient(to bottom right, #efa390, #e56747, #e03802);
  text-align: center;
  border-radius: 3px;
  border: 1px solid #fff;
  /*outline: 1px solid #000;*/
  box-shadow: -1px -1px 0 0 #ae3110 inset,
  1px 1px 0 0 #e46344 inset,
  -3px -3px 2px 0 #d74216 inset
}
.title-bar-controls button[aria-label=Close]::before,
.title-bar-controls button[aria-label=Close]::after {
  content: "";
  position: absolute;
  left: 9px; top: 3px;
  width: 2px; height: 14px;
  background: #fff;
}
.title-bar-controls button[aria-label=Close]::before {
  transform: rotate(45deg);
}
.title-bar-controls button[aria-label=Close]::after {
  transform: rotate(-45deg);
}


.window iframe, .window .window-body {
  flex: 1 1 auto ;
  margin: 0 3px 3px 3px;
  border: 0;
}

.window .resizer-right,  .window .resizer-left {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  cursor: url(cursors/ew-resize.cur), e-resize;
}
.window .resizer-left {
  left: 0;
}

.window .resizer-right {
  right: 0;
}

.window .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: url(cursors/ns-resize.cur), n-resize;
}

.window .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: url(cursors/nwse-resize.cur) nw-resize;
}

.window.alert {
  min-width: 350px;
  min-height: 150px;
}
.window.alert .window-body {
  padding: 20px;
  background : rgb(245, 245, 245)
}
