body {
  padding-bottom: 5px;
  display: block
}

.window-content {
  padding: 0 10px;
  background: #ece9d8
}
button {
  color: blue;
  width: 43px;height: 35px
}

.red {
  color: red;
}

#calc-screen, #calc-fakescreen {
  width: 95%;
  margin-left: 2.5%;
  font-family: Tahoma;
  margin-top: 2px;
  margin-bottom: 18px;
  height: 28px;
  text-align: right;
  border-radius: 0;
  background: #fff;
  color: #000;
  border: 1px solid #7f9db9;
}
#calc-screen::placeholder, #calc-fakescreen::placeholder {
  color : #000
}
#calc-fakescreen {
  display:none
}
#backspace {
  width: 91px
}
#CE, #C {
  width: 67px
}

#calc-control {
  width: 28px;
  height: 25px;
  transform: translateY(2px);
  text-align: center;
  font-family: Tahoma;
  margin-left: 7px;
  margin-right: 13px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #aca899;
  border-left-color: #aca899;
  border-bottom-color: #fff;
  border-right-color: #fff;
  box-shadow: 1px 1px 0 0 #716f64 inset, -1px -1px  0 0 #f1efe2 inset;

}

.left {
  margin-right: 10px
}
